In [11]:
a = [45,78, 43, 23,90]
for i in a:
    if i % 2 == 0:
        print("even")
    else:
        print("odd")

odd
even
odd
odd
even

In [20]:
a = [45,78,43,23,90]
count_even = 0
count_odd = 0
for i in a:
    if i % 2 == 0:
        count_even = count_even+1
    print("even count---",count_even)
    
else:
        count_odd = count_odd +1
print("odd count--->",count_odd)

even count--- 0
even count--- 1
even count--- 1
even count--- 1
even count--- 2
odd count---> 1

In [21]:
x =[3,8,4,9,2]
sum = 0
for i in x:
    sum = sum+i
print(sum)

26

In [24]:
x =[3,8,4,9,2]
sum = 1
for i in x:
    sum = sum*i
print(sum)

1728

In [63]:
a=[98,10,6,34,3,10,86]

mx = max(a[0],a[1])




n = len(a)
sec_max = min(a[0],a[1])
for i in range(2,n):
    if a[i]>mx:
        sec_max = mx
        mx = a[i]
#         print(mx)
        
    elif a[i]>sec_max and mx!= a[i]:
        sec_max = a[i]
print(sec_max)

86

In [35]:
a=[34,44,98,38,33,89,76,9,88]
len(a)

9

In [44]:
a = 2
b = 3
c=a
b=c
a=b

print(a,b)

2 2

In [46]:
a=7
b=9
c=b
b=c
a=b
print(a,b)

9 9

In [ ]:
a=1
b=2

In [47]:
x,y =45,89

In [48]:
x

45

In [49]:
y

89

In [50]:
a=45
b=89
a,b = b,a
a,b

(89, 45)

In [51]:
x = [1,2,3,4]
print(x[::-1])

[4, 3, 2, 1]

In [52]:
#0------>
#<--------0

x = [34,55,67,-66,89]
for i in x:
    if i > 0:
        print("positive number",i)

positive number 34
positive number 55
positive number 67
positive number 89

In [54]:
x = [-33,3,-5,-88,69,707,-80,77,-33,-334]
for i in x:
    if i >0:
        print("negative number",i)

negative number 3
negative number 69
negative number 707
negative number 77

In [57]:
x = [34,55,67,-66,89]
for i in x:
     print("positive number",i)
else:
        print("negative number",i)

positive number 34
positive number 55
positive number 67
positive number -66
positive number 89
negative number 89

In [60]:
x = [-33, 3,-5,-88,69,707,-80,77,-33,-334]
for i in x:
    if i >0:
        print("positive number",i)
else:
     print("negative number", i)

positive number 3
positive number 69
positive number 707
positive number 77
negative number -334